# Database
DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASS=your_mysql_root_password

# JWT
JWT_SECRET=your_jwt_secret_base64_encoded

# Steam API
STEAM_API_KEY=your_steam_api_key

# Discord
DISCORD_WEBHOOK_URL=your_discord_webhook_url

# Spring Profile
SPRING_PROFILES_ACTIVE=docker

# Admin Credentials
ADMIN_EMAIL=admin@steamfamily.com
ADMIN_PASSWORD=admin
