# Database
spring.datasource.url=jdbc:mysql://localhost:3306/steam_family_manager?createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=root
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false

# Steam API
STEAM_API_KEY=your-steam-api-key

# Discord
DISCORD_WEBHOOK_URL=your-discord-webhook-url

# JWT Secret
JWT_SECRET=your-jwt-secret-base64-encoded

# Admin credentials
admin.default.email=admin@steamfamily.com
admin.default.password=admin

# Cors
cors.allowedOrigins=http://localhost:3000,http://localhost:4200

# Game Sync (30 seconds for testing)
# game.sync.fixed-rate=30000
