# Database
spring.datasource.url=jdbc:mysql://localhost:3306/YOUR_DB_NAME?createDatabaseIfNotExist=true
spring.datasource.username=root
spring.datasource.password=root
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
spring.sql.init.mode=always
spring.sql.init.mode=never

# OpenAI Properties
spring.ai.openai.api-key=YOUR-OPENAI-API-KEY

# JWT Secret
# Change in JwtService @Value

# Password Reset
password.reset.token.expiry=24
otp.expiry=1

yourappname.auth.jwt.secret=YOUR-JWT-SECRET

# File upload AWS S3
aws.s3.access-key=YOUR-AWS-ACCESS
aws.s3.secret-key=YOUR-AWS-SECRET-KEY

# Mail
spring.mail.username=youremail@email.com
spring.mail.password=yourpassword

# Cors
cors.allowedOrigins=http://localhost:3000, http://localhost:4200